In [20]:
age = (input("Enter your age : "))
print(" Age: ",age ,"\n","Type of age is : ",type(age))

 Age:  4
 Type of age is :  <class 'str'>

In [1]:
print("Hii")

Hii

In [2]:
age = 25
print(float(age))

25.0

In [3]:
heigt = int(6.1)
print(heigt)

6

In [4]:
name ="arpan"
print(name)
print(type(name))

arpan
<class 'str'>

In [5]:
is_possible= True
print(type(is_possible))

<class 'bool'>

In [6]:
is_true=True
type(is_possible)

bool

In [8]:
a =10
b = 10


a == b

type(a==b)

bool

In [10]:
## type casting 
## i type caste the int --> string 
result = "your result is : "+ str(95)

print(result)

your result is : 95

In [ ]:
a =10
b = 5

## floor division 
e = a/b
print(e)
c = a // b ## 2 tuime division

## Exponential operation 

d = a ** b ## a power b 

print(c)
print(d)

3
759375

In [14]:
height = 5.8
int (height) # type casting to int 
float(int(height)) ## type castint int -> float

5.0

In [11]:
age =25
name = "Arpan"
height = 5.8
is_student = True


print("Age :",age," || name :",name, "|| Height : ",height,"|| Student : ",is_student)
print("My name is : ",name)

Age : 25  || name : Arpan || Height :  5.8 || Student :  True
My name is :  Arpan

In [6]:
age = 32 
if age > 20:
    print(age)

32

In [5]:
var = "Arpan"
print(type(var))
var=21
print(type(var))

<class 'str'>
<class 'int'>

In [3]:
print("Arpan")

Arpan