In [3]:
print("LIST")

LIST

In [ ]:
## list creation
lst= []
print(type(lst))

<class 'list'>

In [7]:
## List data injection

lst = ["Arpan","Abhik","Ram"]
print(lst)

['Arpan', 'Abhik', 'Ram']

In [9]:
mixedlst = ["Arpan","Abhik","Ram",1,2,3,4,5,6,7,8,9,10]
print(mixedlst)

['Arpan', 'Abhik', 'Ram', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [10]:
mixedlst= [1,"Arpan",9.8,True]
print(mixedlst)

[1, 'Arpan', 9.8, True]

In [16]:
lst = ["apple","guava","cherry","mango","banana"]

print(lst[0])
print(lst[1])
print(lst[2])
print(lst[3])
print(lst[4])

print("-1 always indicate last element in the list -> ",lst[-1])  ## -1 always indicate last element in the list

print("this will print 1 to end index value -> ",lst[1: ]) ## this will print 1 to end index value 

print ("this will print 1 to 3rd index value -> ",lst[1:3]) ## this will print 1 to 3rd index value

apple
guava
cherry
mango
banana
-1 always indicate last element in the list ->  banana
this will print 1 to end index value ->  ['guava', 'cherry', 'mango', 'banana']
this will print 1 to 3rd index value ->  ['guava', 'cherry']

In [18]:
lst = ["apple","guava","cherry","mango","banana"]
lst[1]="Watermelon" ## change the value with 1th index 
print(lst)

['apple', 'Watermelon', 'cherry', 'mango', 'banana']

In [ ]:
lst = ["apple","guava","cherry","mango","banana"]

lst.append("guava") ## this will add the value in last index 

print(lst)

lst.insert(1,"orage") ## this will add the value in 1th index
print(lst)

lst.remove("orage") ## this will remove the element in value wise 
print(lst)

['apple', 'guava', 'cherry', 'mango', 'banana', 'guava']
['apple', 'orage', 'guava', 'cherry', 'mango', 'banana', 'guava']
['apple', 'guava', 'cherry', 'mango', 'banana', 'guava']

In [25]:
num = [0,1,2,3,5,6,8,9]

[x**2 for x in range(6)]

[0, 1, 4, 9, 16, 25]