In [2]:
print("set")

set

In [4]:
## create a set
my_set={1,2,3,4,5}
print(my_set)
print(type(my_set))

{1, 2, 3, 4, 5}
<class 'set'>

In [5]:
## creating empty set

my_empty_set=set()
print(type(my_empty_set))

<class 'set'>

In [ ]:
my_empty_set=set([1,2,3,4,5])   ## typecasting with use of set class 
print(type(my_empty_set))

<class 'set'>

In [ ]:
my_empty_set=set([1,2,3,3,5,5,4,5])   
print(type(my_empty_set))
print(my_empty_set)  ## set elemenate duplicate number

<class 'set'>
{1, 2, 3, 4, 5}

In [12]:
my_set=set([1,2,3,3,5,5,4,5])  

my_set.add(10)

print(my_set)
my_set.add(10)  ## addding the duplicate element is not print 
print(my_set)

{1, 2, 3, 4, 5, 10}
{1, 2, 3, 4, 5, 10}

In [ ]:
## Remove the element remove the set
my_set=set([1,2,3,3,5,5,4,5,10])  
my_set.remove(10) ## it will remove the element 
print(my_set)

{1, 2, 3, 4, 5}

In [16]:
## if i try to remove the element that is not present in set 
my_set.remove(11)
print(my_set) ## it will give a error

KeyError: 11

In [17]:
## if i try to remove the element that is not present but lso not through the error 
my_set.discard(11)
print(my_set)

{1, 2, 3, 4, 5}

In [ ]:
### pop method 
print(my_set)

remove_element = my_set.pop()  ## it is follow fast in fast out method and it will remove 1st elemnt in this set
print(remove_element)
print(my_set)

{1, 2, 3, 4, 5}
1
{2, 3, 4, 5}

In [ ]:
# clear all the element 

my_set.clear()
print(my_set) ## delete all element

set()

In [21]:
## set membership test
my_set=set([1,2,3,3,5,5,4,5]) 
print(3 in my_set) ## if the element in the set is present it will give the true otherwise it will print false
print(15 in my_set)

True
False

In [ ]:
## mathametical opertaion

set1={1,2,3,4,5}
set2={5,6,7,8,9,10}

## unio operation (it will combine two set)

unio_operation = set1.union(set2)
print(unio_operation)


## intersection (it will give common element in this 2 set )
intersection_set= set1.intersection(set2)
print(intersection_set)

## update the value in the other set 

set1.intersection_update(set2)
print(set1) ## it will update the common element in 2 set set and update the value in set 1

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{5}
{5}

In [26]:

set1={1,2,3,4,5}
set2={5,6,7,8,9,10}

## difference 

print(set1.difference(set2))

{1, 2, 3, 4}

In [28]:
## sematric difference 

set1.symmetric_difference(set2) ## unique element is print

{1, 2, 3, 4, 6, 7, 8, 9, 10}

In [31]:
## set method 

set1={1,2,3}
set2={3,4,5}


## is subset
print(set1.issubset(set2))
print(set1.issuperset(set2))

False
False

In [33]:
## conver list -> set 
lst = [1,2,3]
print(set(lst))

{1, 2, 3}

In [35]:
## conting unique word in sentence
test =" In this tutorial we are disscussing about uniqe word "
word = test.split()

## convert list of word to set to get an uniqe word 

unique_word = set(word)
print(unique_word)
print(len(unique_word))

{'word', 'uniqe', 'disscussing', 'this', 'tutorial', 'are', 'In', 'about', 'we'}
9