In [1]:
print("Tuple")

Tuple

In [2]:
tuple=()
print(tuple)
print(type(tuple))

()
<class 'tuple'>

In [8]:
# If tuple was accidentally overwritten, delete it
try:
    del tuple
except:
    pass

# Now safe to use
my_lst = list()
print(type(my_lst))   # <class 'list'>

my_tlp = tuple()
print(type(my_tlp))   # <class 'tuple'>

numbers = (1, 2, 3)
print(type(numbers))  # <class 'tuple'>

<class 'list'>
<class 'tuple'>
<class 'tuple'>

In [10]:
number = tuple([1,2,3,4,5])
print(number)
print(type(number))

(1, 2, 3, 4, 5)
<class 'tuple'>

In [13]:
mixed_tuple= ("Arpan",1, 5.7, True)
print(mixed_tuple)
print(type(mixed_tuple))

('Arpan', 1, 5.7, True)
<class 'tuple'>

In [ ]:
number =(1,2,34,5,67,8,9)
print(number)
print(number[1])
print(number[4])
print(number[-1])  ## print lst elemnt 
print(number[0:4])
print(number[::-1])   ### print in reverse

(1, 2, 34, 5, 67, 8, 9)
2
67
9
(1, 2, 34, 5)
(9, 8, 67, 5, 34, 2, 1)

In [22]:
concatination=mixed_tuple + number
print(concatination)

('Arpan', 1, 5.7, True, 1, 2, 34, 5, 67, 8, 9)

In [24]:
mixed_tuple * 3  ## tuple  print 3 time

('Arpan', 1, 5.7, True, 'Arpan', 1, 5.7, True, 'Arpan', 1, 5.7, True)

In [26]:
number * 3  ## number print 3 time

(1, 2, 34, 5, 67, 8, 9, 1, 2, 34, 5, 67, 8, 9, 1, 2, 34, 5, 67, 8, 9)

In [ ]:
#Immutable nature of tuple 
## mean element can not change 


tup = (1,2,3,4,5,6,7,89)
print(tup)

tup[2]=30 ## can not change the value ... fast convert it to list

(1, 2, 3, 4, 5, 6, 7, 89)

TypeError: 'tuple' object does not support item assignment

In [32]:
# tuple method 

tup = (1,2,3,4,4,4,5,6,7,89)

print(tup.count(1)) ## how many time 1 is present
print(tup.count(4)) 

## index told what index value is present 


print(tup.index(7))  ## which will print the index where present the number 7

1
3
8

In [34]:
# packing and unpacking tuple


pack_tup = "Arpan",1, 5.7, True

print(pack_tup)

('Arpan', 1, 5.7, True)

In [37]:
# Define a tuple
pack_tup = (10, 20, 30)

# Unpack the tuple
a, b, c = pack_tup

# Print values
print(a)  # 10
print(b)  # 20
print(c)  # 30

10
20
30

In [39]:
## unpacking with *

num=(1,2,3,4,5) 
first,*middle,last=number

print(first) ## this will print 1st value 
print(middle) ## this will print all middle  value 
print(last) ## this will print last value

1
[2, 34, 5, 67, 8]
9

In [44]:
## nested list 

lst = [[1,2,3,4],[6,7,8,9],[10,11,12,13,14]]
print(lst)
print(lst[0]) ##  this will print 1st list
print(lst[0][2]) ## this will print 1st list 2nd index value 
print(lst[0][:-1])

[[1, 2, 3, 4], [6, 7, 8, 9], [10, 11, 12, 13, 14]]
[1, 2, 3, 4]
3
[1, 2, 3]

In [47]:
lst = [[1,2,3,4],[6,7,8,9],(10,11,12,13,14)]
print(lst)
print(type(lst))  ## if list under tuple also convert in list

[[1, 2, 3, 4], [6, 7, 8, 9], (10, 11, 12, 13, 14)]
<class 'list'>

In [52]:
## nested tuple 
tup = ((1,2,3,4),(6,7,8,9),(10,11,12,13,14))
print(tup)
print(type(tup))

## access elemnt under this nested tuple 

print(tup[0])
print(tup[1][2])

((1, 2, 3, 4), (6, 7, 8, 9), (10, 11, 12, 13, 14))
<class 'tuple'>
(1, 2, 3, 4)
8

In [ ]:
## itteration of nested tuple ........
for i in tup:
    for j in i:
        print(j,end=" ")
    print()

1 2 3 4
6 7 8 9
10 11 12 13 14